<h5>Relacao de produtos cadastrados</h5>
<br />

<table clase="table table-bordered table-hober table-stripped">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Preco</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Data da Criacao</th>
            <th>Data da Ultima Alteracao</th>
            <th width="160">Operacoes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>
                <button class="btn btn-primary btn-sm mr-1">
                    Atualizar
                </button>

                <button class="btn btn-danger btn-sm mr-1">
                    Excluir
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan ="7">
                Quantidade de intens Exibidos: 0
            </td>
        </tr>
    </tfoot>
</table>